html {
	box-sizing: border-box;
}

*,
*::befor,
*::after {
	box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #555252;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-nav {
  padding: 40px 0;
  margin-bottom: 72px;
}

/*logo*/
.logo-link {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
}

.logo-link b {
  font-weight: 900;
  color: #1abc9c
}

/*nav-list*/
.nav-list {
  font-family: "Open Sans";
  float: right;
  font-size: 14px;
  list-style: none;
  margin: 6px 0 0 0 ;
  padding: 0;
}

.nav-list li {
  float: left;
}

.nav-list li:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #0f0101;
}

.nav-link:hover,
.nav-link:focus {
  color: #1abc9c
}




/* GALLERY */
.qwe {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 126px 0;
}

/* .heading-products::after {
  display: table;
  content: "";
  clear: both;
  width: 160px;
  height: 5px;
  position: absolute;
  bottom: 450px;
  left: 472px;
  background: #1abc9c
} */

.products-list {
  list-style: none;;
  padding: 0;
  margin: 0;
}

.products-item {
  float: left;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

img {
  display: block;
  width: 255px;
  height: 280px;
}

.product-name {
  display: inline-block;
  width: 186px;
  margin: 0;
  padding: 4px 0 0 14px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  color: #ffffff;
  background: #000000;
}

.product-price {
  float: right;
  width: 55px;
  padding: 4px 0 0 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background: #8c8c8c ;
}

.product-name:hover {
  background: #1abc9c;
}

.product-price:hover {
  background: #7fd9c7;
}



/* BLOG */
.qwerty {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.blog-list {
  float: left;
  width: 350px;
  margin-bottom: 80px;
}

.blog-list:not(:last-child) {
  margin-right: 30px;
}

.blog-image {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  font-weight: 600;
  font-family: "Open Sans";
}

p {
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-weight: 400;
  font-family: "Open Sans";
}

button {
  height: 50px;
  width: 160px;
  background: #4ec6ab;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}