*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1400px;
	margin: 0 auto;
}

/* HEADER */
.page-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 940px;
	margin-bottom: 126px;
	padding: 50px 0 0 0;
	margin: 0 auto;
}

.site-logo {
	font-family: "Wisdom-Script";
	font-size: 26px;
	text-decoration: none;
	color: #fed136;
}


.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 486px;
	list-style: none;
}

.site-navigation li a {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #222222;		
}

.site-navigation li a:hover,
.site-navigation li a:focus {
  color: #fdd135;
}





/* FEATURES SECTION */
.features {
	margin-bottom: 120px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 34px 0 0 0;
}

.features-list-item {
	flex: 0 0 380px;
	margin-bottom: 98px;
	padding: 0 0 0 80px;
	text-align: center;
}

.features-list-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.features-list-item::before {
	content: '';
	display: block;
	height: 32px;
	width: 32px;
	margin-bottom: -32px;
    margin-left: -55px;
	background-repeat: no-repeat;
}

.icon-clock::before {
	background-image: url('../img/icons/features/icon-clock.png');
}
  
.icon-graph::before {
	background-image: url('../img/icons/features/icon-graph.png');
}
  
.icon-comp::before {
	background-image: url('../img/icons/features/icon-comp.png');
}
  
.icon-book::before {
	background-image: url('../img/icons/features/icon-book.png');
}
  
.icon-home::before {
	background-image: url('../img/icons/features/icon-home.png');
}
  
.icon-image::before {
	background-image: url('../img/icons/features/icon-image.png');
}

.features-list-item h3 {
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 16px;
	color: #333333;
}

.features-list-item p {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;
	color: #999999;
}


/* TEAM SECTION */
