*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1400px;
	margin: 0 auto;
}

/* HEADER */
.page-header{
	margin-bottom: 126px;
}

.page-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 940px;
	padding: 50px 0 0 0;
	margin: 0 auto;
}

.site-logo {
	font-family: "Wisdom-Script";
	font-size: 26px;
	text-decoration: none;
	color: #fed136;
}


.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 486px;
	list-style: none;
}

.site-navigation li a {
	font-family: "Montserrat-Bold";
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #222222;		
}

.site-navigation li a:hover,
.site-navigation li a:focus {
  color: #fdd135;
}

/* SERVICES SECTION */
.services-heading {
	font-size: 40px;
	margin-bottom: 12px;
	/* line-height: 75px; */
	color: #222222;
	font-weight: 700;
	font-family: "Montserrat-Bold";
	text-align: center;
}

.text-services {
	font-size: 16px;
	color: #777777;
	font-weight: 400;
	font-style: italic;
	font-family: "Droid Serif";
	text-align: center;
	margin-bottom: 70px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 940px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
  
.services-list-item {
	flex: 0 0 290px;
	margin-bottom: 72px;
	padding: 0 5px;
	text-align: center;
}
  
.services-list-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.services-list-item::before {
	content: '';
	display: block;
	height: 74px;
	margin-bottom: 34px;
	background-repeat: no-repeat;
	background-position: center;
}
  
.icon-basket::before {
	background-image: url('../img/icon-basket.png');
}
  
.icon-laptor::before {
	background-image: url('../img/icon-laptop.png');
}
  
.icon-locked::before {
	background-image: url('../img/icon-locked.png');
}

.services-list-item h3 {
	margin-bottom: 16px;
	font-size: 18px;
	color: #222222;
	font-weight: 700;
	font-family: "Montserrat-Bold";
}
  
.services-list-item p {
	height: 58px;
	font-size: 14px;
	color: #777777;
	font-weight: 400;
	font-family: "Roboto Slab";
	text-align: center;
}

/* CONTACT SECTION */
.contact-section {
	background-color: #222222;
	background-image: url(../img/map-image.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.titles {
	font-size: 40px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 140px;
	font-family: Montserrat, sans-serif;
}

.contact-slogan {
	color: #777;
	text-align: center;
	font-family: Droid Serif, sans-serif;
	font-size: 16px;
	margin-bottom: 72px;
}
  
.form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
  
.form__part {
	flex-basis: 50%;
	padding: 0 15px;
}
  
.form__input,
.form__textarea {
	display: block;
	width: 100%;
	border: #ccc 1px solid;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 20px;
}
  
.form__input {
	margin-bottom: 30px;
	height: 50px;
	border-radius: 3px;
}
  
.form__input:last-of-type {
	margin-bottom: 0;
}
  
.form__textarea {
	height: 100%;
	resize: none;
	border-radius: 4px;
	line-height: 1.6;
}
  
.form__button {
	width: 240px;
	height: 65px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	border-radius: 3px;
	margin-top: 30px;
	color: #fff;
	background: #fed136;
	font-size: 18px;
	margin-bottom: 115px;
	cursor: pointer;
}
  
input:invalid {
	outline-style: solid;
	outline-color: red;
}
  
input:valid {
	outline-style: solid;
	outline-color: green;
}